*{
    margin: 0;
}
body {
    min-width: 300px;
    /* margin: 0px; */
    /* height: 100vh;  */
}
#main{
    width: 100%;
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/1088597.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-size: 100vh; */
    filter: blur(5px);
    opacity: 0.8;
    z-index: -1;
    position: absolute;

}
#matches{
    color: rgb(245, 0, 212);
    font-size: 1.2rem;
}
li{
    margin-bottom:1.2rem ;
}
#head{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}